@keyframes anim-shadow-cry {
	100% {
		text-shadow: 0 0 0px #00d7ff;
	}
}
@keyframes anim-shadow-tc {
	100% {
		text-shadow: 0 0 0px #ffbc09;
	}
}
body {
	-moz-user-select: none;
	user-select: none;
	font-family: Panton Rust Bold Base;
	margin: 0;
    	background-color: #021927;
}
.reglogbody {
	font-family: 'Open Sans', sans-serif !important;
}
.regSwitch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.regSwitch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.regSlider {
	margin-top: -5.5px;
	margin-left: -1px;
	height: 25px;
	width: 48px;
	position: absolute;
	cursor: pointer;
	background-color: #ff303090;
	-webkit-transition: .4s;
	transition: .4s;
}
.regSlider:before {
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	left: 2px;
	bottom: 2px;
	background-color: #73ff37;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .regSlider {
	background-color: #356b4f;
}
input:focus + .regSlider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .regSlider:before {
	-webkit-transform: translateX(23px);
	-ms-transform: translateX(23px);
	transform: translateX(23px);
}
.regSlider.round {
	border-radius: 34px;
}
.regSlider.round:before {
	border-radius: 50%;
}
.regUpFooter {
	top: 10%;
	position: absolute;
	margin-left: calc(50% - 75.5px);
}
.regFormBox {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 1px;
	border: 1px solid #ffffff80;
	width: 370px;
	height: 298px;
	transform: translate(-50%, -50%);
}
.regMainLoginBox {
	border-bottom: 1px solid #ffffff80;
	padding: 30px;
}
regLoginText {
	font-size: 20px;
	font-weight: 700;
	margin-right: 15px;
	color: #a6eb79;
}
regRegText {
	font-size: 20px;
	font-weight: 700;
	width: fit-content;
	color: #b2c9df;
	margin: 0;
}
.regLogin {
	color: darkgray;
	padding-left: 5px;
	width: -webkit-fill-available;
	height: 25px;
	margin-top: 25px;
	border-radius: 3px;
	border: 1px solid #ffffff80;
	background-color: unset;
}
.regPassword {
	color: darkgray;
	padding-left: 5px;
	margin-top: 10px;
	width: -webkit-fill-available;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #ffffff80;
	background-color: unset;
}
regRemember {
	font-size: small;
	color: #fff;
	position: absolute;
	margin-top: 20px;
	margin-left: -6.5px;
}
.regPlay {
	margin-top: 15px;
	position: absolute;
	left: calc(100% - 25px - ((100% - 372px) / 2) - 138px);
	font-weight: 700;
	padding: 0.6em;
	padding-left: 3em;
	padding-right: 3em;
	border-radius: 4px;
	border: unset;
	background-color: #356b49;
	color: #81ec67;
}
.regSecondBox {
	padding: 30px;
}
regLoginThrow {
	margin: auto;
	font-size: 14px;
	font-weight: 100;
	color: #fff;
}
.regFacebook {
	fill: #c0d8f5;
	border: unset;
	background: none;
	left: calc(100% - 25px - ((100% - 372px) / 2) - 75px);
	padding: 0;
	width: 25px;
	height: 25px;
	position: absolute;
}
.regTwitter {
	fill: #c0d8f5;
	border: unset;
	background: none;
	padding: 0;
	position: absolute;
	width: 25px;
	height: 25px;
	left: calc(100% - 25px - ((100% - 372px) / 2) - 25px);
}
.regDownFooter {
	position: absolute;
	bottom: 5px;
	width: 100%;
}
regCopyright {
	display: block;
	margin-bottom: 5px !important;
	margin: 0 auto;
	color: lightgray;
	width: 816.57px;
}
regSubtext {
	display: block;
	margin-bottom: 5px;
	margin: 0 auto;
	width: 686.88px;
}
regEULA,regGameRules,regCookies {
	margin: 7px;color: #fff;
}
.regSocial {
	bottom: 5px;
	right: 55px;
	position: absolute;
}
.regVK {
	fill: #c0d8f5;
	border: unset;
	background: none;
	bottom: 0;
	height: 45px;
	width: 45px;
	position: absolute;
}
.regYT {
	fill: #c0d8f5;
	border: unset;
	background: none;
	bottom: 45px;
	height: 45px;
	width: 45px;
	position: absolute;
}
.regTW {
	fill: #c0d8f5;
	border: unset;
	background: none;
	bottom: 90px;
	height: 45px;
	width: 45px;
	position: absolute;
}
.regIG {
	fill: #c0d8f5;
	border: unset;
	background: none;
	bottom: 135px;
	height: 45px;
	width: 45px;
	position: absolute;
}
.regFB {
	fill: #c0d8f5;
	border: unset;
	background: none;
	bottom: 180px;
	height: 45px;
	width: 45px;
	position: absolute;
}
.regTV {
	fill: #c0d8f5;
	border: unset;
	background: none;
	bottom: 225px;
	height: 45px;
	width: 45px;
	position: absolute;
}
.lbg {
	background-image: url(BGT.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.lobbyFilter {
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(transparent, #0000008c);
}
profile {
	display: block;
	border-bottom: 1px solid #ffffff80;
	height: 75px;
	width: 100%;
}
.lobbyProfile{
	background-color: #000000aa;
}
.stats{
	border-right: 1px solid #ffffff80;
	height: 75px;
	position: absolute;
	width: 300px;
}
#lobbyUsername {
	font-family: Panton Rust Bold Base;
	margin: 20px 0 0 70px;
	position: absolute;
	font-size: 12px;
	color: #fff;
}
#lobbyExperience {
	font-family: Panton Rust Bold Base;
	margin: 45px 0 0 70px;
	font-size: 12px;
	color: #fff;
}
lobbybuttontext {
	line-height: 36px;
	user-select: none;
	font-family: Panton Rust Bold Base;
	cursor: pointer;
	margin: 4px 0 0 45px;
	color: #fff;
	font-size: 1.5em;
}
playButtonText {
	display: block;
	font-family: 'Panton Rust Bold Base';
	margin: -15px 0 0 73px;
	position: absolute;
	color: #88f43c;
	font-size: 2em;
}
playButtonSubtext {
	display: block;
	position: absolute;
	margin: 35px 0 0 75px;
	color: #88f43c;
	font-family: 'Panton Rust Bold Base';
	font-size: 0.83em;
}
smthngNEW {
	display: block;
	position: absolute;
	padding: 0.2em 0.3em 0.2em 0.3em;
	width: 5px;
	margin: 0;
	border: 1px solid #faed12;
	border-radius: 2px;
	color: black;
	background-color: #faed12;
	font-weight: 900;
	line-height: 15px;
	margin-top: -30px;
	margin-left: 275px;
	font-family: 'Open Sans';
}
.progress {
	position: absolute;
	width: 200px;
	background-image: linear-gradient(to right, #ace495 0%, #ace495 50%, #ace49520 51%, #ace49520 100%);
	height: 2px;
	margin-top: 38px;
	margin-left: 70px;
}
#lobbyCrystals {
	animation: anim-shadow-cry 1s ease-in infinite;
	text-shadow: 0 0 5px #00d7ff;
	margin-top: -24px;
	margin-left: 35px;
	color: #00d7ff;
}
.crystalls {
	width: 200px;
	height: 37px;
}
#lobbyCoins {
	animation: anim-shadow-tc 1s ease-in infinite;
	text-shadow: 0 0 5px #ffbc09;
	position: absolute;
	color: #ffbc09;
	margin-top: 12px;
	margin-left: 33px;
}
.tancoins {
	width: 200px;
	height: 37px;
	border-bottom: 1px solid #ffffff80;
}
.money {
	position: absolute;
	right: 150px;
	width: 200px;
	height: 75px;
}
.tcic {
	margin-top: -3px;
	margin-left: -6px;
	position: absolute;
}
.cryic {
	margin: 7px 0 0 5px;
}
.cryadd {
	cursor: pointer;
	position: absolute;
	margin-top: -40px;
	margin-left: 170px;
	height: 20px;
	width: 20px;
}
.tcadd {
	cursor: pointer;
	position: absolute;
	margin-top: 8px;
	margin-left: 170px;
	height: 20px;
	width: 20px;
}
a {
	margin-top: 4px;
	font-size: 12px;
	font-weight: 700;
	position: absolute;
	margin-left: 43px;
	color: lightgray;
	border: 1px solid #676767;
	padding: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-radius: 3px;
}
.fullscreen{
	position: absolute;
	border-left: 1px solid #ffffff80;
	width: 75px;
	height: 75px;
	right: 75px;
}
.fsbtn {
	cursor: pointer;
	margin: 27px;
	background-color: unset;
	border: unset;
	background-image: url(fsb.png);
	background-size: cover;
	width: 22px;
	height: 22px;
}
.exit{
	position: absolute;
	border-left: 1px solid #ffffff80;
	width: 75px;
	height: 75px;
	right: 0;
}
.exbtn {
	cursor: pointer;
	margin: 27px 0 0 27px;
	background: url(exit.png);
	background-size: cover;
	border: unset;
	height: 22px;
	width: 22px;

}
.battles {
	position: absolute;
}
.mainPlayButton {
	cursor: pointer;
	padding: 0;
	height: 120px;
	width: 240px;
	background-image: url(AMB.gif);
	background-size: cover;
	border: 1px solid #81ec67;
	margin: 30px;
	margin-right: 2px;
}
.animatedPlayButtonFilter {
	cursor: pointer;
	background-color: #356b4980;
	margin-top: -60px;
	position: absolute;
	height: 120px;
	width: 240px;
}
.otherBattleModes {
	cursor: pointer;
	background-image: url(mbm.png);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	position: absolute;
	top: 30px;
	border: 1px solid #8cb37c;
	background-color: #608434bf;
	height: 55px;
	width: 55px;
	margin-left: 3px;
}
.specialBattleMode {
	cursor: pointer;
	background-image: url(https://s.eu.tankionline.com/572/117437/107/205/27523707735006/image.webp);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	position: absolute;
	top: 95px;
	background-color: #897b4bbf;
	border: 1px solid #bfb47e;
	height: 55px;
	width: 55px;
	margin-left: 3px;
}
.lobbyButtons {
	position: absolute;
	margin-top: 165px;
	margin-left: 20px;
}
.garage, .contracts, .quests, .containers, .store, .settings {
	cursor: pointer;
 	width: 300px;
 	margin-left: 5px;
	padding: 2.5px;
}
.garage:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.contracts:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.quests:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.containers:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.store:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.settings:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.lobbyButtonsIcon {
	height: 30px;
	margin: 2px 0 0 4px;
	position: absolute;
}
.lobbyEvents {
	position: absolute;
	top: 90px;
	right: 10px;
}
.eventChallenge {
	cursor: pointer;
	position: absolute;
	border: 1px solid #ffffff80;
	width: 150px;
	height: 200px;
	margin-left: -160px;
	background: #00000033;
	backdrop-filter: blur(20px);
}
.eventContract {
	cursor: pointer;
	border: 1px solid #ffffff80;
	width: 150px;
	height: 200px;
	background: #00000033;
	backdrop-filter: blur(20px);
}
.left-promo {
	position: absolute;
	bottom: 0;
	background: unset;
	border: unset;
	color: white;
}
.right-promo {
	position: absolute;
	background: unset;
	border: unset;
	color: white;
	bottom: 0;
	right: 0;
}
.trends {
	cursor: pointer;
	border: 1px solid #ffffff80;
	margin-top: 10px;
	margin-left: -160px;
	position: fixed;
	height: calc(100% - (20px + 202px + 90px));
	width: 310px;
	background: #00000033;
	backdrop-filter: blur(20px);
	max-height: 458px;
}
.trendHeader{
	margin: 0;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	font-size: 22px;
	bottom: 0;
	color: #88f43c;
	font-family: 'Panton Rust Bold Base';
}
.lobbyfooter {
	left: 30px;
	position: absolute;
	bottom: 15px;
}
.newsBTN {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(news.png);
	background-size: 25px;
	background-position-x: center;
	background-position-y: center;
	margin-right: 8px;
	border: unset;
	border-radius: 50px;
	background-color: #00000080;
	width: 50px;
	height: 50px;
}
.chatBTN {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(chat.png);
	background-size: 25px;
	background-position-x: center;
	background-position-y: center;
	margin-right: 8px;
	border: unset;
	border-radius: 50px;
	background-color: #00000080;
	width: 50px;
	height: 50px;
}
.clanBTN {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(bookmark.png);
	background-size: 25px;
	background-position-x: center;
	background-position-y: center;
	margin-right: 8px;
	border: unset;
	border-radius: 50px;
	background-color: #00000080;
	width: 50px;
	height: 50px;
}
.ratingsBTN {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(smthngstrng.png);
	background-size: 25px;
	background-position-x: center;
	background-position-y: center;
	border: unset;
	border-radius: 50px;
	background-color: #00000080;
	width: 50px;
	height: 50px;
}
@media screen and (width: 1024px) and (min-height: 580px), (max-height: 768px) {
	.lbg {
		background-image: url(BGT1024X768.png);
	}
}
@media screen and (width: 1360px) and (height: 668px) {
	.lbg {
		background-image: url(BGT1360X668.png);
	}
}
@media screen and (width: 1619px) and (height: 1296px) {
	.lbg {
		background-image: url(BGT1619X1296.png);
	}
}
