login::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	margin-top: 17.5px;
	margin-left: -66px;
	height: 25px;
	width: 48px;
	position: absolute;
	cursor: pointer;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 21px;
	width: 21px;
	left: -1px;
	bottom: 2px;
	background-color: #73ff37;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #356b4f;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.up-footer {
	top: 10%;
	position: absolute;
	margin-left: calc(50% - 75.5px);
}
.form-box {
	position: relative;
	margin-top: calc(25% - 160px) !important;
	border-radius: 1px;
	border: 1px solid #ffffff80;
	width: 370px;
	height: 298px;
	margin: 0 auto;
}
.main-box {
	border-bottom: 1px solid #ffffff80;
	padding: 30px;
}
.second-box {padding: 30px;}
.login {
	padding-left: 5px;
	width: -webkit-fill-available;
	height: 25px;margin-top: 25px;
	border-radius: 3px;
	border: 1px solid #ffffff80;
	background-color: unset;
}
.password {
	padding-left: 5px;
	margin-top: 10px;
	width: -webkit-fill-available;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #ffffff80;
	background-color: unset;
}
.play {
	margin-top: 15px;
	position: absolute;
	left: calc(100% - 25px - ((100% - 372px) / 2) - 138px);
	font-weight: 700;
	padding: 0.6em;
	padding-left: 3em;
	padding-right: 3em;
	border-radius: 4px;
	border: unset;
	background-color: #356b49;
	color: #81ec67;
}
button{fill: #c0d8f5;border: unset;background: none;}
.vk {
	
}
