@keyframes anim-shadow-cry {
	100% {
		text-shadow: 0 0 0px #00d7ff;
	}
}
@keyframes anim-shadow-tc {
	100% {
		text-shadow: 0 0 0px #ffbc09;
	}
}
body {
	-moz-user-select: none;
	user-select: none;
	font-family: Panton Rust Bold Base;
	margin: 0;
	background-image: url(BGT.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.filter{
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(transparent, #0000008c);
}
.profile {
	border-bottom: 1px solid #ffffff80;
	height: 75px;
	width: 100%;
	background-color: #000000aa;
}
h4 {
	margin: 0;
	color: #fff;
}
h2 {
	margin: 4px 0 0 45px;
	color: #fff;
}
h1 {
	font-family: 'Panton Rust Bold Base';
	margin: -15px 0 0 70px;
	position: absolute;
	color: #88f43c;
}
p {
	position: absolute;
	padding: 0.2em 0.3em 0.2em 0.3em;
	width: 5px;
	margin: 0;
	border: 1px solid #faed12;
	border-radius: 2px;
	color: black;
	background-color: #faed12;
	font-weight: 900;
	line-height: 15px;
	margin-top: -27px;
	margin-left: 275px;
	font-family: 'Open Sans';
}
.progress {
	position: absolute;
	width: 200px;
	background-image: linear-gradient(to right, #ace495 0%, #ace495 50%, #ace49520 51%, #ace49520 100%);
	height: 2px;
	margin-top: 38px;
	margin-left: 70px;
}
#lobbyCrystals {
	animation: anim-shadow-cry 1s ease-in infinite;
	text-shadow: 0 0 5px #00d7ff;
	margin-top: -24px;
	margin-left: 35px;
	color: #00d7ff;
}
.crystalls {
	width: 200px;
	height: 37px;
}
#lobbyCoins {
	animation: anim-shadow-tc 1s ease-in infinite;
	text-shadow: 0 0 5px #ffbc09;
	position: absolute;
	color: #ffbc09;
	margin-top: 12px;
	margin-left: 33px;
}
.tancoins {
	width: 200px;
	height: 37px;
	border-bottom: 1px solid #ffffff80;
}
.money {
	position: absolute;
	right: 150px;
	width: 200px;
	height: 75px;
}
.tcic {
	margin-top: -3px;
	margin-left: -6px;
	position: absolute;
}
.cryic {
	margin: 7px 0 0 5px;
}
.cryadd {
	cursor: pointer;
	position: absolute;
	margin-top: -40px;
	margin-left: 170px;
	height: 20px;
	width: 20px;
}
.tcadd {
	cursor: pointer;
	position: absolute;
	margin-top: 8px;
	margin-left: 170px;
	height: 20px;
	width: 20px;
}
a {
	margin-top: 4px;
	font-size: 12px;
	font-weight: 700;
	position: absolute;
	margin-left: 43px;
	color: lightgray;
	border: 1px solid #676767;
	padding: 0.1em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-radius: 3px;
}
.fsbtn {
	margin: 27px;
	background-color: unset;
	border: unset;
	background-image: url(fsb.png);
	background-size: cover;
	width: 22px;
	height: 22px;
}
.exbtn {
	margin: 27px 0 0 27px;
	background: url(exit.png);
	background-size: cover;
	border: unset;
	height: 22px;
	width: 22px;

}
.battles{
	position: absolute;
}
.mpb {
	cursor: pointer;
	padding: 0;
	height: 120px;
	width: 240px;
	background-image: url(AMB.gif);
	background-size: cover;
	border: 1px solid #81ec67;
	margin: 30px;
	margin-right: 2px;
}
.AMBF {
	cursor: pointer;
	background-color: #356b4980;
	margin-top: -60px;
	position: absolute;
	height: 120px;
	width: 240px;
}
.obm {
	cursor: pointer;
	background-image: url(mbm.png);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	position: absolute;
	top: 30px;
	border: 1px solid #8cb37c;
	background-color: #608434bf;
	height: 55px;
	width: 55px;
	margin-left: 3px;
}
.sbm {
	cursor: pointer;
	background-image: url(https://s.eu.tankionline.com/572/117437/107/205/27523707735006/image.webp);
	background-size: 40px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	position: absolute;
	top: 95px;
	background-color: #897b4bbf;
	border: 1px solid #bfb47e;
	height: 55px;
	width: 55px;
	margin-left: 3px;
}
.buttons {
	position: absolute;
	margin-top: 165px;
	margin-left: 20px;
}
.garage, .contracts, .quests, .containers, .store, .settings {
	cursor: pointer;
 	width: 300px;
 	margin-left: 5px;
	padding: 5px;
}
.garage:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.contracts:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.quests:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.containers:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.store:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.settings:focus {
	box-shadow: 0 0 0px 1px white;
	border-radius: 3px;
	outline: none;
}
.lbi {
	height: 30px;
	margin: 2px 0 0 4px;
	position: absolute;
}
.events {
	position: absolute;
	top: 90px;
	right: 10px;
}
.challenge {
	cursor: pointer;
	position: absolute;
	border: 1px solid #ffffff80;
	width: 150px;
	height: 200px;
	margin-left: -160px;
	background: #00000033;
	backdrop-filter: blur(20px);
}
.contract {
	cursor: pointer;
	border: 1px solid #ffffff80;
	width: 150px;
	height: 200px;
	background: #00000033;
	backdrop-filter: blur(20px);
}
.left-promo {
	position: absolute;
	bottom: 0;
	background: unset;
	border: unset;
	color: white;
}
.right-promo {
	position: absolute;
	background: unset;
	border: unset;
	color: white;
	bottom: 0;
	right: 0;
}
.trends {
	cursor: pointer;
	border: 1px solid #ffffff80;
	margin-top: 10px;
	margin-left: -160px;
	position: fixed;
	height: calc(100% - (20px + 202px + 90px));
	width: 310px;
	background: #00000033;
	backdrop-filter: blur(20px);
	max-height: 458px;
}
.footer {
	left: 30px;
	position: absolute;
	bottom: 15px;
}
.news {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(news.png);
	background-size: 25px;
	background-position-x: center;
	background-position-y: center;
	margin-right: 8px;
	border: unset;
	border-radius: 50px;
	background-color: #00000080;
	width: 50px;
	height: 50px;
}
.chat {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(chat.png);
	background-size: 25px;
	background-position-x: center;
	background-position-y: center;
	margin-right: 8px;
	border: unset;
	border-radius: 50px;
	background-color: #00000080;
	width: 50px;
	height: 50px;
}
.clan {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(bookmark.png);
	background-size: 25px;
	background-position-x: center;
	background-position-y: center;
	margin-right: 8px;
	border: unset;
	border-radius: 50px;
	background-color: #00000080;
	width: 50px;
	height: 50px;
}
.ratings {
	cursor: pointer;
	background-repeat: no-repeat;
	background-image: url(smthngstrng.png);
	background-size: 25px;
	background-position-x: center;
	background-position-y: center;
	border: unset;
	border-radius: 50px;
	background-color: #00000080;
	width: 50px;
	height: 50px;
}
@media screen and (width: 1024px) and (min-height: 580px), (max-height: 768px) {
	body {
		background-image: url(BGT1024X768.png);
	}
}
@media screen and (width: 1360px) and (height: 668px) {
	body {
		background-image: url(BGT1360X668.png);
	}
}
@media screen and (width: 1619px) and (height: 1296px) {
	body {
		background-image: url(BGT1619X1296.png);
	}
}
