@keyframes anim-shadow-cry {
	100% {
		text-shadow: 0 0 0px #00d7ff;
	}
}
@keyframes anim-shadow-tc {
	100% {
		text-shadow: 0 0 0px #ffbc09;
	}
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-image: url(BGT.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.profile {
	border-bottom: 1px solid #ffffff80;
	height: 75px;
	width: 100%;
	background-color: #000000aa;
}
h4 {
	margin: 0;
	color: #fff;
}
h2 {
	margin: 0;
	margin-left: 43px;
	color: #fff;
}
.progress {
	position: absolute;
	width: 200px;
	background-image: linear-gradient(to right, #ace495 0%, #ace495 50%, #ace49520 51%, #ace49520 100%);
	height: 3px;
	margin-top: 35px;
	margin-left: 70px;
}
#lobbyCrystals {
	animation: anim-shadow-cry 1s ease-in infinite;
	text-shadow: 0 0 5px #00d7ff;
	margin-top: -26px;
	margin-left: 35px;
	color: #00d7ff;
}
.crystalls {
	width: 200px;
	height: 37px;
}
#lobbyCoins {
	animation: anim-shadow-tc 1s ease-in infinite;
	text-shadow: 0 0 5px #ffbc09;
	position: absolute;
	color: #ffbc09;
	margin-top: 10px;
	margin-left: 33px;
}
.tancoins {
	width: 200px;
	height: 37px;
	border-bottom: 1px solid #ffffff80;
}
.money {
	position: absolute;
	right: 150px;
	width: 200px;
	height: 75px;
}
.tcic {
	margin-top: -3px;
	margin-left: -6px;
	position: absolute;
}
.cryic {
	margin: 6px 0 0 5px;
}
.buttons {
	margin-top: -25px;
	margin-left: 20px;
}
.mpb {
	height: 120px;
	width: 240px;
	background-color: #356b4980;
	border: 1px solid #81ec67;
	margin: 30px;
	margin-right: 2px;
}
.obm {
	position: absolute;
	top: 106px;
	border: 1px solid #8cb37c;
	background: #8cb37c80;
	height: 55px;
	width: 55px;
	margin-left: 3px;
}
.sbm {
	position: absolute;
	top: 171px;
	background: #bfb47e80;
	border: 1px solid #bfb47e;
	height: 55px;
	width: 55px;
	margin-left: 3px;
}
.lbi {
	position: absolute;
}
.garage, .contracts, .quests, .containers, .store, .settings {
	padding: 5px;
}
@media screen and (width: 1024px) and (min-height: 580px), (max-height: 768px) {
  body {
    background-image: url(BGT1024X768.png);
  }
}
@media screen and (width: 1360px) and (height: 668px) {
  body {
    background-image: url(BGT1360X668.png);
  }
}
@media screen and (width: 1619px) and (height: 1296px) {
  body {
    background-image: url(BGT1619X1296.png);
  }
}
